{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col-md-4">
    <h4 class="h4">Sprawdź rentowność akcji</h4>
    <form>
        <div class="form-group mb-4">
            <label for="company">Nazwa spółki</label>
            <input type="text" class="form-control" id="company" name="company">
        </div>
        <div class="form-group mb-4">
            <label for="unitPrice">Cena jednostkowa</label>
            <input type="number" step="0.01" class="form-control" id="unitPrice" name="unitPrice">
        </div>
        <div class="form-group mb-4">
            <label for="funds">Inwestowane środki</label>
            <input type="number" step="0.01" class="form-control" id="funds" name="funds">
        </div>
        <div class="form-group mb-4">
            <label for="percents">Przewidywany zysk</label>
            <select class="form-control" id="percents" name="percents">
                <option value="5">5%</option>
                <option value="10">10%</option>
                <option value="15">15%</option>
                <option value="20">20%</option>
                <option value="25">25%</option>
                <option value="30">30%</option>
                <option value="35">35%</option>
                <option value="40">40%</option>
            </select>
        </div>
        <button type="button" class="sf-button w-100">Przelicz</button>
    </form>
</div>
    <div class="col-md-8">
        <h4 class="h4 text-center">Szacowane zyski i koszty</h4>
    </div>
</div>
{% endblock %}